/* index page */
/* line 6, ../sass/admin/reader.sass */
#messages_table td.message_sent {
  color: #666666;
  font-size: 80%;
}
/* line 10, ../sass/admin/reader.sass */
#messages_table td.name span.function {
  color: #cc0000;
  font-size: 80%;
  font-weight: normal;
}
/* line 14, ../sass/admin/reader.sass */
#messages_table td.name span.function a {
  color: #0066cc;
}

/* show and send page */
/* line 19, ../sass/admin/reader.sass */
div#preview {
  float: left;
  width: 65%;
  -moz-box-shadow: 0px 0px 5px #333333;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -o-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
  background-color: white;
}
/* line 24, ../sass/admin/reader.sass */
div#preview .message_header {
  padding: 10px;
  overflow: hidden;
  background-color: #eeeeee;
  color: #333333;
  font-size: 80%;
  line-height: 1.5;
}
/* line 31, ../sass/admin/reader.sass */
div#preview .message_header ul {
  margin: 0;
  padding: 6px 14px;
  list-style-type: none;
}
/* line 35, ../sass/admin/reader.sass */
div#preview .message_header ul li.subject {
  font-size: 1.6em;
  margin-top: 6px;
}
/* line 38, ../sass/admin/reader.sass */
div#preview .message_header ul li.mime-version, div#preview .message_header ul li.content-type {
  display: none;
}
/* line 41, ../sass/admin/reader.sass */
div#preview .message_body iframe.message_body {
  width: 99%;
  height: 520px;
  margin: 0;
  border: 0;
  overflow: auto;
}
/* line 48, ../sass/admin/reader.sass */
div#preview div.preview_controls {
  height: 24px;
}
/* line 50, ../sass/admin/reader.sass */
div#preview div.preview_controls p {
  margin: 2px 14px;
  text-align: right;
}
/* line 53, ../sass/admin/reader.sass */
div#preview div.preview_controls a {
  text-decoration: none;
  color: #cc0000;
}

/* line 57, ../sass/admin/reader.sass */
div#deliver {
  position: relative;
  float: left;
  width: 27%;
  margin-left: 2%;
}

/* edit pages */
/* line 68, ../sass/admin/reader.sass */
#content form p span.filter {
  float: right;
  width: 400px;
  text-align: right;
}
/* line 72, ../sass/admin/reader.sass */
#content form p span.filter label {
  display: inline;
}
/* line 74, ../sass/admin/reader.sass */
#content form p textarea {
  width: 100%;
}

/* line 77, ../sass/admin/reader.sass */
ul.help {
  list-style: square;
  color: #666666;
  font-size: 85%;
}
/* line 81, ../sass/admin/reader.sass */
ul.help code {
  color: #cc0000;
  font-size: 115%;
}
